<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="NumberofFiles" value="100"/>
		
		<add key="ProdSource" value="E:\NS BACKUP"/>
		<add key="ProdTarget" value="/NSRetail/Backups/Database_BackUps/Warehouse"/>
		<!--<add key="ProdTarget" value="ProdSQLBackups"/>-->
		

		<!--<add key="LeftSource" value="E:\LEFT BACKUP"/>
		<add key="LeftTarget" value="LeftSQLBackups"/>

		<add key="TallySource" value="C:\Users\nandu\Desktop\Backups\"/>
		<add key="TallyTarget" value="TallyBackups"/>-->

	</appSettings>
</configuration>