
SecurityApp/CategisSecurity/bin
SecurityApp/CategisSecurity/obj
SecurityApp/CategisSecurity/.vs
SecurityApp/SecurityApp/bin
SecurityApp/SecurityApp/obj
SecurityApp/SecurityApp/.vs
*.suo
Services/Warehouse/WarehouseCloudSync/WarehouseCloudSync/bin
Services/Warehouse/WarehouseCloudSync/WarehouseCloudSync/obj