USE [C:\Windows\NSRetailPOS\NSRETAILPOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[POS_USP_D_OLD_DATA]    Script Date: 23-05-2022 11:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[POS_USP_D_OLD_DATA]
AS
BEGIN

	DECLARE @CutOffDate DATETIME = GETDATE() - 30
	
	DELETE FROM POS_DAYSEQUENCE WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDATE, UPDATEDATE, NULL) < @CutOffDate
	DELETE FROM POS_DAYCLOSUREDETAIL WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, NULL) < @CutOffDate
	DELETE FROM POS_DAYCLOSURE WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, NULL) < @CutOffDate
	DELETE FROM POS_STOCKDISPATCHDETAIL WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDATE, DELETEDDATE) < @CutOffDate
	DELETE FROM POS_STOCKDISPATCH WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDATE, DELETEDDATE) < @CutOffDate
	DELETE FROM POS_BREFUNDDETAIL WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, NULL) < @CutOffDate
	DELETE FROM POS_BREFUND WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDATE, UPDATEDDATE, DELETEDDATE) < @CutOffDate
	DELETE FROM POS_CREFUND WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, DELETEDDATE) < @CutOffDate
	DELETE FROM POS_BILLMOPDETAIL WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, NULL) < @CutOffDate

	DELETE PBD FROM POS_BILLDETAIL PBD WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, DELETEDDATE) < @CutOffDate
		AND NOT EXISTS (SELECT 1 FROM POS_CREFUND PCR WHERE PCR.BILLDETAILID = PBD.BILLDETAILID)
	DELETE PB FROM POS_BILL PB WHERE dbo.UDF_GET_LAST_MODIFIED_DATE(CREATEDDATE, UPDATEDDATE, DELETEDDATE) < @CutOffDate
		AND NOT EXISTS (SELECT 1 FROM POS_BILLDETAIL PBD WHERE PBD.BILLID = PB.BILLID)
END
GO

PRINT 'SQL script Execution complete'


