<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		
		<!--Production Server Details-->
		<!--Victory warehouse server (NSRetail)-->
		<!--<add key="WHServerName" value="haQj5pBM7cT4xdPs2dpAFQ==" />
		<add key="WHDBName" value="R9MvHTaWPzYpcKAOOur7kw==" />
		<add key="WHusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="WHpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />-->
		<!--Victory cloud server (NSRetail_cloud)-->
		<!--<add key="CloudServerName" value="HDsw+oY+6uKBT26ZqEMW2A==" />
		<add key="CloudDBName" value="BnkAsjIUuj7cUJsrQ9R7Mg==" />
		<add key="Cloudusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="Cloudpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />-->

		<!--Left Server Details-->
		<!--Victory warehouse server (NSRetail_Left)-->
		<add key="WHServerName" value="eI5XGivJkpZBmT/G3BJ/iA==" />
		<add key="WHDBName" value="sx3Vp/IEh07EuvKvWuMecg==" />
		<add key="WHusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="WHpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />
		<!--Victory cloud server (NSRetail_cloud_Left)-->
		<add key="CloudServerName" value="eI5XGivJkpZBmT/G3BJ/iA==" />
		<add key="CloudDBName" value="4lMtQyGpVOhfRaROm/Z96lsCeWYyyZOotL4tz0JepBA=" />
		<add key="Cloudusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="Cloudpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />
		
		<!--Dev Server Details-->
		<!--Victory warehouse server (NSRetail_Dev)-->
		<!--<add key="WHServerName" value="eI5XGivJkpZBmT/G3BJ/iA==" />
		<add key="WHDBName" value="4Y+PBYuAf9QPEI/8y+bUzw==" />
		<add key="WHusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="WHpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />
		--><!--Victory cloud server (NSRetail_cloud_Dev)--><!--
		<add key="CloudServerName" value="HDsw+oY+6uKBT26ZqEMW2A==" />
		<add key="CloudDBName" value="fGdohfQg+cBXOWnmw3hZlOjYmaObmBDw5BMlawl+KEs=" />
		<add key="Cloudusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="Cloudpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />-->

		
	</appSettings>
	<log4net>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<param name="LogName" value="System" />
			<param name="ApplicationName" value="NSRetailWarehouseCloudSync" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value=" {%date} – %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="EventLogAppender" />
		</root>
	</log4net>
</configuration>