<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Victory warehouse server (NSRetail)-->
		<add key="WHServerName" value="HCElcGiPpzM93THtQOyLM7nl3Y5nDMH2CoBWtJrWlig=" />
		<add key="WHDBName" value="R9MvHTaWPzYpcKAOOur7kw==" />
		<add key="WHusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="WHpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />
		<!--Victory cloud server (NSRetail_cloud)-->
		<add key="CloudServerName" value="HCElcGiPpzM93THtQOyLM7nl3Y5nDMH2CoBWtJrWlig=" />
		<add key="CloudDBName" value="BnkAsjIUuj7cUJsrQ9R7Mg==" />
		<add key="Cloudusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="Cloudpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />

		<!--Go daddy warehouse server (NSRetail)--><!--
		<add key="WHServerName" value="z1FuTez79PyAhbU2V9AlGhDnPN+rWBpHsjYs3v2/uD7pW5Dy6ZRo7l7IYbRP3o6UlLF1eF6/2f+4GIP2bUnq+Q==" />
		<add key="WHDBName" value="o77vqfxsFmS65aRyFoloow==" />
		<add key="WHusername" value="o77vqfxsFmS65aRyFoloow==" />
		<add key="WHpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />
		--><!--local cloud server (NSRetail_cloud)--><!--
		<add key="CloudServerName" value="5Btwc0r6JEQzs9PQ++LMFjEwR6kzNYkikDj4/UjGYzg=" />
		<add key="CloudDBName" value="BnkAsjIUuj7cUJsrQ9R7Mg==" />
		<add key="Cloudusername" value="PWNSSRvZY62fN/sIsJIuug==" />
		<add key="Cloudpwd" value="pCiZRcoz+d1/YW1ofTReFA==" />-->
		
	</appSettings>
	<log4net>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<param name="LogName" value="System" />
			<param name="ApplicationName" value="NSRetailWarehouseCloudSync" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value=" {%date} – %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="EventLogAppender" />
		</root>
	</log4net>
</configuration>